[Desktop Entry]
Name=Unofficial Bedrock APK Launcher
Comment=Import a local Android APK and launch it with mcpelauncher
Exec=mcpelauncher-ui-qt %U
Icon=io.github.Abid_speedcuber.mcpelauncher_minimal
MimeType=application/zip
Type=Application
Categories=Game;
Terminal=false
